/2d_deformation.ipynb
/dataset
/deformation.h5
/deformation.xdmf
/deformation_cal.h5
/deformation_cal.xdmf
/deformation_cal_artharva.h5
/deformation_cal_artharva.xdmf
/deformation_cal_narunat.h5
/deformation_cal_narunat.xdmf
/deformation_dogbone.h5
/deformation_dogbone.xdmf
/deformation_dogbone_sub.h5
/deformation_dogbone_sub.xdmf
/disp_field.pdf
/displacment_field.pdf
/error_field.pdf
/fem_deformation.csv
/ft.h5
/ft.xdmf
/generate_geometry.py
/geometry_gen_full_dogbone.py
/images
/notebook.ipynb
/optimization.ipynb
/output.png
/rectangle_with_hole.h5
/rectangle_with_hole.msh
/rectangle_with_hole.xdmf
/rectangle_with_rounded_ends_and_hole.h5
/rectangle_with_rounded_ends_and_hole.msh
/rectangle_with_rounded_ends_and_hole.xdmf
/specimen_with_hole.h5
/specimen_with_hole.msh
/specimen_with_hole.xdmf
/tensile_test_specimen.h5
/tensile_test_specimen.xdmf